// Text colors
$lightText :#fff;
$darkText :#333;

// Background colors
$calculatorDisplay :#feffff;
$wrapperBackground :#333a56;
$bodyBackground :#c9d6ff;
$btnDarkBackgroundFocus :#343a40;
$btnPrimaryBackground :#5d5893;
$btnPrimaryBackgroundHover :#007bff;
$btnPrimaryBackgroundFocus :#007bff;
$btnInfoBackground :#8698c5;
$btnInfoBackgroundFocus :#17a2b8;
$btnSuccessBackground :#717788;
$btnSuccessBackgroundFocus :#28a745;
$btnDangerBackground :#e14658;
$btnDangerBackgroundFocus :#dc3545;
$btnWarningBackground :#f77496;
$btnWarningBackgroundFocus :#ffc107;

// Button colors
$btnDark :#52658f;

// Border colors
$btnBorder :rgba(0, 0, 0, 0.5);

// Shadow colors
$wrapperBoxShadow :rgba(0, 0, 0, 1);